@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ---------------------------------------------------------------------------------
                                  
                                 body
 ----------------------------------------------------------------------------------*/
 body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
 }

 /* ---------------------------------------------------------------------------------
                              
                           top-display-style 
    ------------------------------------------------------------------------------- */

.top-display{
    display: flex;
    background-color: rgb(15 15 158);
    width: 100%;
    height: 670px;

 }
 .display-title{
     height: 230px;
     width: 485px;
     margin-top: 170px;
     margin-left: 156px;
 }
 .display-title h1{
     font-size: 64px;
     font-weight: 700px;
     color: #FFFFFF;
 }
 .button:hover{
     background-color: lawngreen;
 }
 .button{
     display: flex;
     width: 170px;
     height: 44px;
     background-color: #E02C6D;
     align-items: center;
     padding: 10px 20px;
 }
 .button p{
     margin-right: 20px;
     color: whitesmoke;
 }
 .fa-arrow-right{
     color: whitesmoke;
    
 }
 .display-banner img{
    height: 438px;
    width: 556px;
    margin-top: 153px;
    margin-left: 200px;

 }

 /* ------------------------------------------------------------------------------------
    ----------------------------
                               players-style
                                         --------------------------------------------
    ----------------------------------------------------------------------------------- */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1050px;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    align-items: center;
    margin-top: 10px;

}

.player{
    border: 10px;
    background-color: #FFFFFF;
    padding: 15px;
    box-shadow: 4px 3px 8px 12px hsl(0, 20%, 94%);
    display: flex;
    flex-direction: column;
}
.player img{

    width: 300px;
    height: 256px;

}
/* match-style */

.top-match{
    display: flex;
}
.match-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 466px;
    height: 309px;
    margin-top: 224px;
    margin-right: 69px;
}
.match img{
    width: 567px;
    height: 427px;
    margin-top: 165px;
}

.final{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 71, 194));
    color: White;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 20px; 
}
.final-heading{
    align-items: flex-start;

}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;
    background-color: lightpink;
    border-radius: 50px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;   
}

/* -------------------------------------------------------------------------
                          footer-style 
   --------------------------------------------------------------------------*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 5%;
    
    
}
.footer img{
    width: 400px;
    height: 110px;
    margin-top: 164px;
    
}
.media-icon{
    display: flex;
}
.icon{
    height: 32px;
    width: 32px;
}




/*  -------------------------------------------------------------------

    ---------------------mobile-device--------------------------------

    -------------------------------------------------------------------*/

 

@media only screen and (max-width:688px){

.top-display{

        flex-direction: column;

        height: 100%;

        width: 100%;

}

.display-title{

        height: 100%;

        width: 100%;

        margin: 0;
}

.display-banner img{

        height: 100%;

        width: 100%;

        margin: 0;

}
   
.players{

 

        width:100%;

        grid-template-columns: repeat(1,1fr);

        justify-content: center;

}
}